<html>
<head>
    <title>{%block title %}Cines {% endblock %}</title>

    {% block stylesheets %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="{{ asset('bundles/cine/styles.css') }}" type="text/css" rel="stylesheet" />

    {% endblock %}


    <style>
        #map {
            height: 80%;
            width: 50%;
        }
        body{
            height: 80%;
            /* Center and scale the image nicely */
            background-color: black;
            background-repeat: no-repeat;
            background-size: cover;
        }/* Full height */
        footer{
            position: fixed;
            bottom: 0;
            width:100%;

        }

    </style>
</head>

<body>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="fuente">Login</h4>
        <div class="container">
            <ul>
                <li>
                    <div class="col-md-12">
                        <form action="{{path("login_check")}}" method="post">
                            <label>Email:</label>
                            <input type="email" id="username" name="_username"  class="form-control" />
                            <br/>
                            <label>Contraseña:</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                            <br/>
                            <input type="submit" value="Entrar" class="btn -succes"/>
                            <input type="hidden" name="_target_path" value="/index" />
                        </form>
                    </div>
                </li>
                <li>
                    <b>Si aun no tenes una cuenta registrate:</b>
                    <a href="{{path("register")}}" class="right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul id="dropdown2" class="dropdown-content">
    <li >
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <ul><optgroup label="Cines"></ul>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{path("nuevo_cine")}}">Agregar</a></li>
                    <li><a tabindex="-1" href="{{path("index_cine")}}">Listar </a></li>
                </ul>
            </li>
            <li class="divider"></li>

            <li class="dropdown-submenu">
                <ul><optgroup label="Funciones"></ul>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{path("funcion_nueva")}}">Agregar</a></li>
                    <li><a tabindex="-1" href="{{path("funcion_index")}}">Listar</a></li>

                </ul>
            </li>
            <li class="divider"></li>

            <li class="dropdown-submenu">
                <ul><optgroup label="Peliculas"></ul>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{path("nueva_peli")}}">Agregar</a></li>
                    <li><a tabindex="-1" href="{{path("index_peli")}}">Listar</a></li>
                </ul>
            </li>
            <li class="divider"></li>

            <li class="dropdown-submenu">
                <ul><optgroup label="Peliculas (copias)"></ul>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{path("pelicopia_nueva")}}">Agregar</a></li>
                    <li><a tabindex="-1" href="{{path("pelicopia_index")}}">Listar</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>


<nav class="red">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img  width="70"  height="80" src="http://vignette2.wikia.nocookie.net/clubpenguin/images/6/65/Popcorn_Pin.PNG/revision/latest?cb=20141203015251"/></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {%if app.user != null%}
                <li  class="light grey-text text-lighten-3">Bienvenido, {{app.user.nombre}} {{app.user.apellido}} {%if app.user.role == "ROLE_ADMIN" %} (Administrador) {%endif%}</li>
            {% endif %}


            <!-- Dropdown Trigger -->
            {%if app.user == null%}
                <li class="fuente"><a href="#modal1"> Ya tenes una cuenta? <i class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                {%if app.user.role == "ROLE_ADMIN" %}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Opciones administrativas <i class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
                <li><a href="{{path("logout")}}">Salir</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            {%if app.user != null%}
                <li class="blue-grey darken-4-text">Bienvenido, {{app.user.nombre}} {{app.user.apellido}} {%if app.user.role == "ROLE_ADMIN" %} (Administrador) {%endif%}</li>
            {% endif %}

            <!-- Dropdown Trigger -->
            {%if app.user == null%}
                <li><a href="#modal1"> Ya tenes una cuenta? <i class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                {%if app.user.role == "ROLE_ADMIN" %}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Opciones administrativas <i class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
                <li><a href="{{path("logout")}}">Salir</a></li>
            {% endif %}
        </ul>
    </div>
</nav>





<section id="content">
    {% block content %} cotenido por defcto {% endblock %}
</section>

<footer class="page-footer red footer">
        <div class="container">
            © 2017
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
</footer>




</body>
</html>

<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
        $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
        $('.collapsible').collapsible();
        $('.select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('.carousel').carousel({
            padding: 200
        });
        autoplay()
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 3000);
        }
    });


</script>